.about-us {
    @include pageContent();

    .members-container{
        display: flex;
        
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 24px;
        
    }

    .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .member-name {
            font-size: 18px;
            font-weight: bold;
        }

        .member-rol {
            
        }
    }
}