.about-us {
    @include pageContent();

    .about-us-container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-weight: 300;
        font-size: 32px;
    }

    .leyend {
        font-style: italic;
        background-color: rgb(175, 175, 175);
        border-radius: 8px;
        padding: 24px;
        color: $nav-accent;
    }

    .types {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin: 24px 0;
    }

    .members-container{
        display: flex;
        
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 24px;
        
    }

    .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .member-name {
            font-size: 18px;
            font-weight: bold;
        }

        .member-rol {
            
        }
    }

    .bg-1 {
        background-color: black !important;
        color: white
    }

    .bg-2 {
        background-color: #b8ab00 !important;
    }

    .type-card {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        // height: 200px;
        flex: 1;
        transition: all 250ms ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        .title {
            font-weight: bold;
            margin: 12px 0;
        }

        .content {

        }
    }

    .info {
        align-self: center;
    }

    .holdCard {
        margin: 40px 0px;
        max-width: 200px;
    }
}