.layout {
    .app-bar {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: $nav-color;
        height: $nav-height;
        display: flex;
        align-items: center;

        img {
            width: 80px;
        }

        nav {
            display: flex;
            align-items: center;

            .options {
                // flex-basis: 100%;
                flex-grow: 1;
                align-items: center;

                .active {
                    color: $nav-accent !important;
                    &::before {
                        content: '';
                        position: absolute;
                        height: 4px;
                        width: 100%;
                        background: $nav-accent;
                        bottom: -8px;
                        left: 0;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 32px;
                    padding-left: 0;
                    margin: 0;
                    list-style: none;
                    padding-left: 44px;
                    font-size: 1rem;

                    li {
                        transition: all 250ms ease;
                        position: relative;

                        @include brandLink();

                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .footer {
        // height: 180px;
        background-color: $nav-color;
        padding: 24px 0;
        color: rgb(214, 214, 214);

        .nav-link {
            margin-bottom: 8px;
                        
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.admin-layout {
    display: flex;    
    min-height: 100vh;

    .appbar {
        display: flex;
        justify-content: center;
        height: 70px;
        background-color: $nav-color;

        .toolbar {
            display: flex;
            justify-content: space-between;
        }

        .title {
            color: $nav-accent;
        }
    }

    .drawer {
        background-color: $nav-color;
        width: 250px;
        color: white;
        flex-shrink: 0;
        white-space: nowrap;
        z-index: 10;
        margin-top: 70px;
        padding-top: 30px;
    }

    .content {
        flex-grow: 1;
        padding-top: 100px;        
    }
}